@keyframes slideInFromBottom{
    0% {
      opacity: 0;
      transform: translateY(50px); 
    }
    100% {
      opacity: 1;
      transform: translateY(0);
    }
  }
.project-card {
    box-shadow: 0 0 10px rgba(4, 0, 0, 0.1); 
    animation: slideInFromBottom 1s forwards; 
    /* background-color: #273545!important; */


  background-color: #354f69!important;
    
    transition: all transform 0.3s ease-out !important;
  }

.project-card:hover {
    transition: all 0.2s ease-out;
    top: -10px;

}


  


 
 
  